<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>We need to recognize when you say &apos;mark&apos;</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>We need to access the microphone to hear you say &apos;mark&apos;</string>
</dict>
</plist>
